<h1 style="text-align: center;">Calendario delle Pulizie</h1>
<table style="display: contents;">
    <tbody>
        <tr>
            <th>Settimana</th>
            <th>Attività</th>
            <th>Responsabile</th>
            <th>Stato</th>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">15 - 21 Gen</td>
            <td>Bagno</td>
            <td class="person">Shahin</td>
            <td>
              <button (click)="eseguiFunzione()">Esegui Funzione</button>
            </td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Francesco</td>
            <td><button style="font-size: 16px;">Fatto</button>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">22 - 28 Gen</td>
            <td>Bagno</td>
            <td class="person">Yuri - Anastasia</td>
            <td><img type="button" onclick="aggiungiEvento('22-28Gen')" style="width: 20px;" src="+.ico" alt="">
            </td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Gabriele</td>
            <td><img type="button" onclick="aggiungiEvento('22-28Gen')" style="width: 20px;" src="+.ico" alt="">
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">29 Gen - 4 Feb</td>
            <td>Bagno</td>
            <td class="person">Francesco</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Shahin</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">5 - 11 Feb</td>
            <td>Bagno</td>
            <td class="person">Gabriele</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Yuri - Anastasia</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">12 - 18 Feb</td>
            <td>Bagno</td>
            <td class="person">Shahin</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Francesco</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">19 - 25 Feb</td>
            <td>Bagno</td>
            <td class="person">Yuri - Anastasia</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Gabriele</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">26 Feb - 3 Mar</td>
            <td>Bagno</td>
            <td class="person">Francesco</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Shahin</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">4 - 10 Mar</td>
            <td>Bagno</td>
            <td class="person">Gabriele</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Yuri - Anastasia</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">11 - 17 Mar</td>
            <td>Bagno</td>
            <td class="person">Shahin</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Francesco</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">18 - 24 Mar</td>
            <td>Bagno</td>
            <td class="person">Yuri - Anastasia</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Gabriele</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td rowspan="2">25 - 31 Mar</td>
            <td>Bagno</td>
            <td class="person">Francesco</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
        <tr>
            <td>Cucina e Corridoio</td>
            <td class="person">Shahin</td>
            <td><img type="button" onclick="aggiungiEvento()" style="width: 20px;" src="+.ico" alt=""></td>
        </tr>
    </tbody>
</table>
